<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="jwtFileName" value="jwt_token.txt"/>
		<add key="computerIdFileName" value="computer_id.txt"/>
		<add key="datalogFileName" value="datalog.json"/>
		
		<!--Api adress-->
		<add key="apiAddress" value="http://loadlens.com.br:8080"/>
		
		<!--API Key user for authentication-->
		<add key="ApiKey" value="V.l8J6t78Dt!gTDZn61S68i7tTs!^?eC\\)S/TE/1'-?$'J4987@#"/>
	
	</appSettings>
</configuration>